h1{
	font-size: 40px;
}

.set1{
	margin-left: 15px;
	margin-right: 15px;
}

.recipe {
    border: 1px solid #ccc;
    padding: 15px;
    margin: 15px;
    margin-left: 20px;
    width: 250px;
    float: left;
}

.recipe img {
    max-width: 100%;
    height: auto;
    margin-left: 0px;
}

.recipe h3 {
    margin-top: 10px;
    font-size: 18px;
}

.recipe p {
	margin-top: 15px;
    font-size: 14px;
    background-color: #1E90FF; 
    color: #fff;
    padding: 10px;
}
.recipe a{
	color: inherit;
	text-decoration: none;
}

.edit form{
	max-width: 600px; /* Adjust the width as needed */
    margin top: 20px; /* Center the form horizontally */
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    text-align: left; /* Align the text inside the form to the left */
}

	form label,
	form input,
	form textarea {
    	display: block;
    	margin-bottom: 10px;
}

	form textarea {
    	height: 100px;
    	width: 550px;
}

	form button {
    	background-color: #1E90FF;
   	 	color: #fff;
    	padding: 10px;
    	border: none;
   	 	border-radius: 5px;
    	cursor: pointer;
}


