img{
    	max-height: 350px;
    	max-width: 500px;
    	margin-right: 10px; 
	margin-left:20px;
}

h2,h3,h4{
	margin-left: 20px;
}
body{
	background-image: url(image07.webp);
	background-size: cover;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}

